.container {
  height: 100%;
  padding: 1.6rem;
}

main.main {
  height: 100%;
  display: flex;
  flex-flow: row;
  // align-items: center;
}

// Hero will have 3 stages:
// 1 - Default: Show logo principal
// 2 - Menu: Show main links
// 3 - Sidebar

.main {
  &__ {
    &hero {
      flex: auto;
      background: linear-gradient(104.73deg, rgba(30, 11, 54, 0.8) 27.27%, rgba(202, 55, 130, 0.8) 100%, rgba(202, 55, 130, 0.8) 100%);
      color: white;
      box-shadow: 4px 4px 8px 0px #666;
    }
    &content {
      flex: auto;
    }
  }
}

.hero {
  &__{
    &logo {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &footer {
      height: 20%;
    }
  }
}

// .main__hero {
//   flex: auto;
//   background: linear-gradient(104.73deg, rgba(30, 11, 54, 0.8) 27.27%, rgba(202, 55, 130, 0.8) 100%, rgba(202, 55, 130, 0.8) 100%);
//   color: white;
//   box-shadow: 4px 4px 8px 0px #666;
// }

// .main__content {
//   flex: auto;
// }