@import '../styles/abstracts.scss';

// nav block
.nav {
  display: flex;
  align-items: center;
  padding: 0.8rem 3.2rem;
  height: 6.4rem;
  background-image: linear-gradient(105deg, rgba(202, 55, 130, 0.7) 8%, rgba(30, 11, 54, 0.8) 48%),
    url(/img/hero-orion-nebula.jpg);
  background-size: cover;
  background-position: top;
  margin-bottom: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: $box-shadow;
  // @include stickyElement;
  z-index: 20;

  .toolbar__left {
    flex: auto;
    display: flex;
    align-items: center;
    img {
      height: 4.8rem;
      width: 4.8rem;
    }
  }
  .toolbar__right {
    color: $color-white;
    flex: shrink;
    display: flex;
    align-items: center;

    span {
      margin: 0 0.8rem;
    }
  }
  @include respond(phone) {
    margin-bottom: 1.6rem;
  }
}

// main block
.main {
  &__ {
    // .main__hero
    &hero {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: calc(85vh - 4.8rem - 6.4rem);
      background-image: linear-gradient(
          105deg,
          rgba(202, 55, 130, 0.7) 8%,
          rgba(30, 11, 54, 0.9) 48%
        ),
        url(/img/hero-orion-nebula.jpg);
      background-size: cover;
      background-position: center;
      // background-attachment: fixed;
      color: $color-white;
      z-index: 10;
      border-radius: 0.8rem;
      box-shadow: $box-shadow;
      @include respond(tab-port) {
        flex-flow: column;
        height: calc(85vh - 1.6rem - 6.4rem);
      }
    }
    // .main__content
    &content {
      padding: 3.2rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
  }
}

// hero block
.hero {
  &__ {
    // .hero__header
    &header {
      height: 100%;
      flex: 1 0 0;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: calc(0.1 * 100vw - 2.4rem);

      @include respond(tab-port) {
        margin: unset;
        align-items: center;
        height: auto;

        p {
          max-width: 30rem;
        }
      }

      img {
        width: 30rem;
        @include respond(tab-port) {
          width: 36rem;
        }
        @include respond(phone) {
          width: 24rem;
        }
      }

      h1 {
        color: $background-color;
        font-size: 3.3rem;
        margin-top: 0.8rem;
        @include respond(tab-port) {
          font-size: 4rem;
          margin-top: 1.6rem;
        }
        @include respond(phone) {
          font-size: 2.6rem;
          margin-top: 0.4rem;
        }
      }
    }
    // .hero__action
    &action {
      height: 100%;
      flex: 1 0 0;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin-right: calc(0.1 * 100vw - 2.4rem);
    }
  }
}
