// text positioning
.u-talign-ct { text-align: center !important; }

// margin bottom
.u-mb { margin-bottom: 4rem !important; }
.u-mb-sm { margin-bottom: 2rem !important; }
.u-mb-lg { margin-bottom: 8rem !important; }

// margin top
.u-mt { margin-top: 4rem !important; }
.u-mt-sm { margin-top: 2rem !important; }
.u-mt-lg { margin-top: 8rem !important; }

// no margins
.u-m-no { margin: 0 !important; }